anyio==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Darwin"
arabic-reshaper==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
argcomplete==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.10" and python_version < "4.0"
asn1crypto==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
async-lru==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
autobahn==23.6.2 ; python_version >= "3.10" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
babel==2.14.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "4.0"
binaryornot==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
brotli==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
build==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
cachecontrol==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
channels-redis==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
channels==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
colorclass==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
comm==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.10" and python_version < "4.0"
cookiecutter==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
crashtest==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
crispy-tailwind==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
cryptography==42.0.3 ; python_version >= "3.10" and python_version < "4.0"
cssmin==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
cssselect2==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
daphne==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
debugpy==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
diff-match-patch==20230430 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
django-appconf==1.0.6 ; python_version >= "3.10" and python_version < "4.0"
django-browser-reload==1.12.1 ; python_version >= "3.10" and python_version < "4.0"
django-ckeditor==6.7.1 ; python_version >= "3.10" and python_version < "4.0"
django-compressor==4.4 ; python_version >= "3.10" and python_version < "4.0"
django-cors-headers==4.3.1 ; python_version >= "3.10" and python_version < "4.0"
django-crispy-forms==2.1 ; python_version >= "3.10" and python_version < "4.0"
django-debug-toolbar==4.3.0 ; python_version >= "3.10" and python_version < "4.0"
django-dotenv==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
django-extensions==3.2.3 ; python_version >= "3.10" and python_version < "4.0"
django-filter==23.5 ; python_version >= "3.10" and python_version < "4.0"
django-htmlmin==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
django-import-export==3.3.7 ; python_version >= "3.10" and python_version < "4.0"
django-jalali-date==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-jalali==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
django-jazzmin==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
django-js-asset==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
django-model-utils==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
django-notifications-hq==1.8.3 ; python_version >= "3.10" and python_version < "4.0"
django-phonenumber-field==7.3.0 ; python_version >= "3.10" and python_version < "4.0"
django-ranged-response==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
django-redis==5.4.0 ; python_version >= "3.10" and python_version < "4.0"
django-simple-captcha==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
django-tailwind==3.8.0 ; python_version >= "3.10" and python_version < "4.0"
django-watchman==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
django==5.0.2 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.10" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
dulwich==0.21.7 ; python_version >= "3.10" and python_version < "4.0"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
fastjsonschema==2.19.1 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "4.0"
fontawesomefree==6.5.1 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.49.0 ; python_version >= "3.10" and python_version < "4.0"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "4"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
html5lib==1.1 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.26.0 ; python_version >= "3.10" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.6 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==7.0.1 ; python_version >= "3.10" and python_version < "3.12"
incremental==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
installer==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
ipykernel==6.29.2 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.21.0 ; python_version >= "3.10" and python_version < "4.0"
ipywidgets==8.1.2 ; python_version >= "3.10" and python_version < "4.0"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "4.0"
jaraco-classes==3.3.1 ; python_version >= "3.10" and python_version < "4.0"
jdatetime==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "4.0"
jsmin==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
json5==0.9.14 ; python_version >= "3.10" and python_version < "4.0"
jsonfield==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema[format-nongpl]==4.21.1 ; python_version >= "3.10" and python_version < "4.0"
jupyter-client==8.6.0 ; python_version >= "3.10" and python_version < "4.0"
jupyter-console==6.6.3 ; python_version >= "3.10" and python_version < "4.0"
jupyter-core==5.7.1 ; python_version >= "3.10" and python_version < "4.0"
jupyter-events==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
jupyter-lsp==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server-terminals==0.5.2 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server==2.12.5 ; python_version >= "3.10" and python_version < "4.0"
jupyter==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-server==2.25.3 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-widgets==3.0.10 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
keyring==24.3.1 ; python_version >= "3.10" and python_version < "4.0"
lxml==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.5.2 ; python_version >= "3.10" and python_version < "4.0"
markuppy==1.14 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
more-itertools==10.2.0 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.8 ; python_version >= "3.10" and python_version < "4.0"
nbclient==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
nbconvert==7.16.0 ; python_version >= "3.10" and python_version < "4.0"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "4.0"
notebook==7.1.0 ; python_version >= "3.10" and python_version < "4.0"
odfpy==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
openpyxl==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
oscrypto==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
pango==0.0.1 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
phonenumbers==8.13.30 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.2.0 ; python_version >= "3.10" and python_version < "4.0"
pip-autoremove==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
pip-upgrader==1.4.15 ; python_version >= "3.10" and python_version < "4.0"
pip==24.0 ; python_version >= "3.10" and python_version < "4.0"
pipx==1.4.3 ; python_version >= "3.10" and python_version < "4.0"
pkginfo==1.9.6 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
poetry-core==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
poetry-plugin-export==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
poetry==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.43 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
psycopg==3.1.18 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydyf==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "4.0"
pyhanko-certvalidator==0.26.3 ; python_version >= "3.10" and python_version < "4.0"
pyhanko==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
pyopenssl==24.0.0 ; python_version >= "3.10" and python_version < "4.0"
pypdf==4.0.1 ; python_version >= "3.10" and python_version < "4.0"
pyphen==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
pypng==0.20220715.0 ; python_version >= "3.10" and python_version < "4.0"
pyproject-hooks==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
python-bidi==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "4.0"
python-memcached==1.62 ; python_version >= "3.10" and python_version < "4.0"
python-slugify==8.0.4 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "4.0"
pywin32-ctypes==0.2.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
pywinpty==2.0.13 ; python_version >= "3.10" and python_version < "4.0" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
pyzmq==25.1.2 ; python_version >= "3.10" and python_version < "4.0"
qrcode==7.4.2 ; python_version >= "3.10" and python_version < "4.0"
qtconsole==5.5.1 ; python_version >= "3.10" and python_version < "4.0"
qtpy==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
rapidfuzz==3.6.1 ; python_version >= "3.10" and python_version < "4.0"
rcssmin==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
redis==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.33.0 ; python_version >= "3.10" and python_version < "4.0"
reportlab==4.1.0 ; python_version >= "3.10" and python_version < "4"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "4.0"
rich==13.7.0 ; python_version >= "3.10" and python_version < "4.0"
rjsmin==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux"
send2trash==1.8.2 ; python_version >= "3.10" and python_version < "4.0"
service-identity==24.1.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==69.1.0 ; python_version >= "3.10" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
smsir-python==1.0.7 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "4.0"
svglib==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
swapper==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
tablib==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
tablib[html,ods,xls,xlsx,yaml]==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
terminado==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
terminaltables==3.1.10 ; python_version >= "3.10" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.12.4 ; python_version >= "3.10" and python_version < "4.0"
tornado==6.4 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.14.1 ; python_version >= "3.10" and python_version < "4.0"
trove-classifiers==2024.2.23 ; python_version >= "3.10" and python_version < "4.0"
twisted-iocpsupport==1.0.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
twisted==23.10.0 ; python_version >= "3.10" and python_version < "4.0"
twisted[tls]==23.10.0 ; python_version >= "3.10" and python_version < "4.0"
txaio==23.1.1 ; python_version >= "3.10" and python_version < "4.0"
types-python-dateutil==2.8.19.20240106 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0"
tzlocal==5.2 ; python_version >= "3.10" and python_version < "4.0"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
uritools==4.0.2 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
userpath==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.25.1 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
webcolors==1.13 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
wheel==0.42.0 ; python_version >= "3.10" and python_version < "4.0"
whitenoise==6.6.0 ; python_version >= "3.10" and python_version < "4.0"
widgetsnbextension==4.0.10 ; python_version >= "3.10" and python_version < "4.0"
xattr==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "darwin"
xlrd==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
xlsxwriter==3.1.9 ; python_version >= "3.10" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
zope-interface==6.2 ; python_version >= "3.10" and python_version < "4.0"
zopfli==0.2.3 ; python_version >= "3.10" and python_version < "4.0"
