asgiref==3.7.2
beautifulsoup4==4.12.2
cssmin==0.2.0
Django==4.2.7
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-compressor==4.4
django-dotenv==1.4.2
django-filter==23.3
django-htmlmin==0.11.0
django-phonenumber-field==7.2.0
djangorestframework==3.14.0
html5lib==1.1
jsmin==3.0.1
Markdown==3.5
phonenumbers==8.13.26
Pillow==10.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-memcached==1.59
pytz==2023.3.post1
rcssmin==1.1.1
rjsmin==1.2.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
webencodings==0.5.1
