<!-- partials/footer.html -->

<footer class="bg-white mt-24">
    <nav class="flex justify-between p-6" aria-label="Global">

        <!-- CopyRight -->
        <div
            style="padding-top: 4px; padding-right: 7px;"
            class="rounded-md dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
            <span style=" padding-top: 2px;">&#169;</span>
            <p style="padding-top: 10px; padding-right: 10px;"
               class="-m-1.5 inline-block px-6 font-vazir">
            دیجی‌خدمت<span>&#8482;</span> تمامی حقوق محفوظ است
            </p>
        </div>
      
        <div class=" rounded-md dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
             role="group">
            <a href="{% url 'generics:about-us' %}" type="button"
                class="px-6 font-vazir"
                data-te-ripple-init data-te-ripple-color="light">
                درباره ما
            </a>
            <a href="{% url 'generics:privacy-policy' %}" type="button"
                class="px-6 font-vazir"
                data-te-ripple-init data-te-ripple-color="light">
                قوانین و سیاست‌ها
            </a>
            <a href="{% url 'generics:certificates' %}" type="button"
                class="px-6 font-vazir"
                data-te-ripple-init data-te-ripple-color="light">
                اعتبارنامه‌ها
            </a>
            <a href="{% url 'generics:contact-us' %}" type="button"
                class="inline-block px-6 pb-2 pt-2.5 font-vazir"
                data-te-ripple-init data-te-ripple-color="light">
                ارتباط با ما
            </a>
        </div>
    </nav>
</footer>