<!-- partials/footer.html -->

<footer style="border-top-width: 525px;" class="bg-white">
    <nav class="pr-504 mx-auto flex justify-between p-6" aria-label="Global">

        <!-- CopyRight -->
        <div
            style="padding-top: 4px; padding-right: 7px; margin-right: -6px;"
            class="inline-flex rounded-md shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
            <span style="border-right: 20px; margin-right: 4px; padding-top: 2px;">&#169;</span>
            <p href="#"  style="padding-top: 10px; padding-right: 10px;" class="-m-1.5 p-1.5 inline-block rounded-l bg-primary px-6 pb-2 pt-2.5 text-xs font-vazir uppercase leading-normal transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700">
            دیجی‌خدمت<span>&#8482;</span> تمامی حقوق محفوظ است
            </p>
        </div>
      
        <div class="inline-flex rounded-md shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" role="group">
            <a href="#" type="button"
                class="inline-block rounded-l bg-primary px-6 pb-2 pt-2.5 text-xs font-vazir uppercase leading-normal transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
                data-te-ripple-init data-te-ripple-color="light">
                درباره ما
            </a>
            <a href="#" type="button"
                class="inline-block bg-primary px-6 pb-2 pt-2.5 text-xs font-vazir uppercase leading-normal transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
                data-te-ripple-init data-te-ripple-color="light">
                قوانین و سیاست‌ها
            </a>
            <a href="#" type="button"
                class="inline-block bg-primary px-6 pb-2 pt-2.5 text-xs font-vazir uppercase leading-normal transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
                data-te-ripple-init data-te-ripple-color="light">
                اعتبارنامه‌ها
            </a>
            <a href="#" type="button"
                class="inline-block bg-primary px-6 pb-2 pt-2.5 text-xs font-vazir uppercase leading-normal transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
                data-te-ripple-init data-te-ripple-color="light">
                ارتباط با ما
            </a>
        </div>
    </nav>
</footer>