{% load static %}

<!-- partials/navbar.html -->
<nav class="bg-white" style="margin-top: -72px">
  <div class="flex justify-between p-6">
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            {% if request.user.is_authenticated %}
                <!-- Notifications button -->
                <button style="margin-top: -7px;" type="button" class="px-6 pb-2 pt-2 dark:bg-white rounded-md
                                                    dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
                                                    dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                    <img src="{% static 'global/icons/notification.png' %}" alt="sidebar" class="w-[30px] h-[30px]">
                </button>
                
                <!-- Profile dropdown (if needed) -->
                <button style="margin-top: -7px;" id="toggleSidebarBtn" class="px-6 pb-2 pt-2 dark:bg-white rounded-md
                                                    dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
                                                    dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                    <img src="{% static 'global/icons/add-profile-image.png' %}" alt="sidebar" class="w-[30px] h-[30px]">
                </button>

            {% else %}
                <!-- Register and Login buttons (if needed) -->
                <div style="padding-bottom: 6.4px" class="rounded-md dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                    role="group">
                    <a href="{% url 'accounts:register' %}" type="button"
                        class="px-6 pt-2 font-vazir"
                        aria-current="page"
                        data-te-ripple-init data-te-ripple-color="light">
                        ثبت‌نام
                    </a>
                    <a href="{% url 'accounts:login' %}" type="button"
                        class="inline-block px-6 pt-2 font-vazir"
                        aria-current="page"
                        data-te-ripple-init data-te-ripple-color="light">
                        ورود
                    </a>
                </div> 
            {% endif %}
        </div>
    </div>
</nav>