{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load compress %} 
  

  {% compress css %} 
      <link rel="icon" type="image/x-icon" href="{% static 'global/images/digi-khedmat-favicon.png' %}">
      
      <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">
      {% tailwind_css %}

      {% block custom_assets %}{% endblock custom_assets %}
  {% endcompress css %} 

  <!-- Start scripts part -->
  <script src="{% static  'global/js/jquery-3.7.1.min.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'node_packages/node_modules/jalali-moment/dist/jalali-moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'node_packages/node_modules/jalali-moment/dist/jalali-moment.browser.js' %}"></script>

  <script type="text/javascript" src="{% static 'node_packages/node_modules/alpinejs/dist/cdn.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}" ></script>

  <script src="{% static  'global/js/scripts.js' %}"></script>

  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>


  {% block custom_js %}{% endblock custom_js %}
  <!-- End scripts part -->
  
  <title>{% block title %}دیجی خدمت{% endblock title %}</title>
</head>

<body class="bg-slate-100">
  {% include "partials/header.html" %}
  {% include "partials/navbar.html" %}

  {% if messages %}
      <ul class="messages flex justify-center min-w-full h-8">
        {% for message in messages %}
          <li class="items-center rounded text-center min-w-[66vw] 
                    {% if message.tags == 'info' %} bg-[#0369a1]
                    {% elif message.tags == 'success' %} bg-[#22c55e]
                    {% elif message.tags == 'error' %} bg-[#e11d48]
                    {% elif message.tags == 'warning' %} bg-[#f97316]
                    {% endif %} 
                    text-white"> {{ message | safe }} 
          </li>
        {% endfor %}
      </ul>
  {% endif %}

  
  {% block content %}{% endblock content %}

  {% if request.user.is_authenticated %}
    {% load_sidebar request  %}
  {% endif %}
  
  {% include "partials/footer.html" %}

</body>
</html>