{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load compress %} 
    

    {% compress css %} 
        <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">
        {% tailwind_css %}
    {% endcompress css %} 

    {% compress js %} 
        <script src="{% static  'global/js/jquery-3.7.1.min.js.js' %}"></script>
    {% endcompress js %}
    
    {% block custom_assets %}{% endblock custom_assets %}
    <title>{% block title %}دیجی خدمت{% endblock title %}</title>
</head>

<body>
    {% include "partials/header.html" %}
    {% include "partials/navbar.html" %}
    
    {% block content %}{% endblock content %}
    
    {% include "partials/footer.html" %}

    {% block custom_js %}{% endblock custom_js %}
</body>
</html>