{% extends "base/base.html" %}
{% load static %}

{% block title %}علاقه مندی ها{% endblock title %}

{% block content %}
  <h3>علاقه مندی های شما</h3>
  
  <ul class="max-w-md mx-auto">
    {% for favorite in favorites %}
      <li class="bg-slate-100 rounded px-4 py-5 sm:p-6" data-favorite-id="{{ favorite.id }}">
        <div class="flex items-center justify-between px-4 py-3 bg-gray-100">
          <div class="flex items-center space-x-4">
            <button class="delete-btn text-red-700 hover:text-white bg-red-200 hover:bg-red-600 focus:ring-2 focus:ring-red-500 rounded-full px-3 py-1 text-sm font-medium transition duration-300">حذف</button>
          </div>
          <span class="text-xs text-gray-600">{{ favorite.date_created | to_Jdatetime}}</span>
        </div>
        <div class="p-4 border-t border-gray-200">
          <p class="text-lg font-semibold">{{ favorite.advertisement.title }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}

{% block custom_js %}
  <script src="{% static 'accounts/js/favorites.js' %}"></script>
{% endblock custom_js %}
