{% extends 'base/base.html' %} 

{% block title %} ورود به حساب {% endblock title%} 

{% block content %}
  <div class="max-w-md mx-auto font-vazir">
    <form method="post" id="otp-form" style="margin-top: 70px">
      {% csrf_token %}
      <h2
        class="text-center text-2xl font-bold tracking-wide text-gray-800"
        style="font-size: 40px"
      >
        رمز یک‌بار مصرف
      </h2>

      <div class="mt-10">
        <label for="otp">شماره تلفن خود را وارد کنید: <span class="text-sm">(حداقل 11 و حداکثر 20 رقم)</span></label>
        <input
          type="text"
          name="phone_number"
          id="otp-input"
          required
          maxlength="20"
          class="text-center mt-2 w-full rounded-md placeholder:text-gray-400"
          placeholder="مثال: 09909900000"
        />
      </div>

      <div id="otp-message">
        
      </div>

      <div class="hidden" id="otp-code-section">
        <label for="otp"> کد ارسال شده را وارد کنید .</label>
        <input
          type="text"
          name="otp"
          id="otp-code-input"
          required
          maxlength="7"
          class="mt-2 w-full rounded-md placeholder:text-gray-400"
        />
      </div>

      <div class="mt-4">
        <button
          type="button"
          id="otp-btn"
          class="w-full py-1.5 rounded-md shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        >
          ارسال کد
        </button>
        <button
          type="submit"
          id="submit-btn"
          class="hidden w-full py-1.5 rounded-md shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        >
          ورود
        </button>
      </div>
    </form>

    <div id="otp-message" class="mt-4 text-red-500"></div>
  </div>
{% endblock content %} 


{% block custom_js %}
  <script>
    $(document).ready(function () {
      // Function to handle error message removal timer
      function setErrorMessageTimer(errorElement) {
        setTimeout(function () {
          errorElement.empty(); // Remove the error message
        }, 5000); // Adjust the delay time (in milliseconds) as needed
      }

      // Function to validate phone number pattern
      function validatePhoneNumberPattern(phoneValue) {
        // Check if phone number starts with 0 and is all numbers
        return (
          phoneValue.startsWith("0") &&
          /^\d+$/.test(phoneValue) &&
          phoneValue.length &&
          phoneValue.length >= 11 &&
          phoneValue.length <= 20
        );
      }

      $("#otp-btn").on("click", async function () {
        var phoneNumber = $("#otp-input").val();

        // Check if the phone number consists of only digits
        if (!validatePhoneNumberPattern(phoneNumber)) {
          $("#otp-message").append(`<p class="text-red-500 text-xs italic">شماره تلفن باید فقط شامل اعداد و دارای طول معتبر باشد.</p>`);
          setErrorMessageTimer($('#otp-message')); // Set timer to remove error message
          return; // Exit the function if the phone number contains non-digit characters
        }

        response = await fetch("/api/auth/send-otp/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json; charset=UTF-8",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ phone_number: phoneNumber }),
        });

        let data = await response.json();

        alert(data.message);

        if (response.status == 200) {
          $("#otp-message").empty();
          $("#otp-code-section").removeClass("hidden");
          $("#otp-btn").addClass("hidden");
          $("#submit-btn").removeClass("hidden");
          $("#otp-input").focus();
        }
      });
    });
  </script>
{% endblock custom_js %}

