{% extends 'base/base.html' %} 
{% load static %} 

{% block title %}ورود به حساب{% endblock title %} 

{% block custom_assets %}
  <link rel="stylesheet" href="{% static 'accounts/css/captcha.css' %}" />
{% endblock custom_assets %} 

{% block content %}
<div class="font-vazir">
  <div>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9">
      شناسه (نام کاربری، ایمیل یا شماره تلفن) و رمز عبور خود را وارد کنید.
    </h2>

    <p class="text-center text-sm text-gray-600">
      حساب کاربری ندارید؟
      <a
        href="{% url 'accounts:register' %}"
        class="text-blue-600 hover:underline"
        title="ساخت حساب"
      >
        از اینجا ثبت نام کنید.
      </a>
    </p>

    <p class="text-center text-sm text-gray-600">
      حسابتان فعال نیست؟
      <a
      href="{% url 'accounts:activate-account' %}"
        class="text-blue-600 hover:underline"
        title="فعال سازی"
      >
        از اینجا فعال سازی کنید.
      </a>
    </p>

    <div class="mt-10 sm:mx-auto sm:max-w-sm">
      <form method="post">
        {% csrf_token %}
        <label for="identifier"> شناسه: </label>
        <div class="mt-2">
          <input
            type="text"
            id="identifier"
            name="identifier"
            autocomplete="identifier"
            maxlength="30"
            required
            class="text-center w-full rounded-md py-1.5 ring-1"
          />
        </div>
        <div style="margin-top: 15px">
          <label for="password"> رمز عبور: </label>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            style="text-align: center"
            required
            maxlength="30"
            class="w-full rounded-md border-0 py-1.5 ring-1"
          />
        </div>
        <div>
          <div class="my-3">{{ form.captcha }}</div>
          <button
            type="submit"
            class="font-vazir w-full py-1.5 mt-4 cursor-pointer rounded-md shadow-md bg-blue-500 hover:bg-blue-600 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          >
            ورود
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %} 


{% block custom_js %}
<script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock custom_js %}
