{% extends 'base/base.html' %}
{% block title %} ورود به حساب {% endblock title%} 
{% block content %}
<div class="max-w-md mx-auto">
  <form method="post" id="otp-form" class="mt-8">
    {% csrf_token %}
    <div>
      <label for="otp" class="block text-sm font-medium text-gray-700">شماره تلفن خود را وارد کنید.</label>
      <input required type="text" name="phone_number" id="otp-input" class="mt-1 block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md">
    </div>
    <div class="hidden" id="otp-code-section">
      <label for="otp" class="block text-sm font-medium text-gray-700">کد ارسال شده را وارد کنید.</label>
      <input required type="text" name="otp" id="otp-code-input" class="mt-1 block w-full shadow-sm focus:ring-yello-500 focus:border-yello-500 sm:text-sm border-gray-300 rounded-md">
    </div>
    <div class="mt-4">
      <button type="button" id="otp-btn" class="w-full inline-flex items-center justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">ارسال کد</button>
      <button type="submit" id="submit-btn" class="hidden w-full inline-flex items-center justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">ورود</button>
    </div>
  </form>
  <div id="otp-message" class="mt-4 text-red-500"></div>
</div>
{% endblock content %}
{% block custom_js %}
<script>
  $(document).ready(function () {
    $('#otp-btn').on('click', async function () {
      var phoneNumber = $('#otp-input').val();
      response = await fetch('/api/auth/send-otp/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json; charset=UTF-8',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ phone_number: phoneNumber })
      })

      let data = await response.json();
      
      alert(data.message);

      if (response.status == 200) {
        $('#otp-message').text('');
        $('#otp-code-section').removeClass('hidden');
        $('#otp-btn').addClass('hidden');
        $('#submit-btn').removeClass('hidden');
        $('#otp-input').focus();
      }

    });
  });
</script>
{% endblock custom_js %}
