{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  ورود به حساب
{% endblock title %}

{% block custom_assets %}
  <link rel="stylesheet" href="{% static 'accounts/css/captcha.css' %}">
{% endblock custom_assets %}

{% block content %}
<div class="font-vazir">
  <div>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9">
      نام کاربری و رمز عبور خود را وارد کنید.
    </h2>
    
    <div class="mt-10 sm:mx-auto sm:max-w-sm">
      <form method="post">
        {% csrf_token %}
          <!--
            This example requires some changes to your config:
            
            ```
            // tailwind.config.js
            module.exports = {
              // ...
              plugins: [
                // ...
                require('@tailwindcss/forms'),
              ],
            }
            ```
          -->
          <!--
            This example requires updating your template:
          
            ```
            <html class="h-full bg-white">
            <body class="h-full">
            ```
          -->
        <label for="username">
          نام کاربری:
        </label>
        <div class="mt-2">
          <input id="username" name="username" type="username" autocomplete="username" 
            style="text-align: center;"      
            required class="w-full rounded-md py-1.5 ring-1">
        </div>
        <div style="margin-top: 15px;">
          <label for="password">
            رمز عبور:
          </label>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password"
                style="text-align: center;"
                required class="w-full rounded-md border-0 py-1.5 ring-1">
        </div>
        <button type="submit" class="font-vazir w-full py-1.5 rounded-md
                                      dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
                                      dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"> 
          <div style="margin-top: 15px; cursor: pointer;" >
            ورود
          </div>
        </button>
        <div>
          {% comment %} 
            <div for="id_captcha" class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">{{ form.captcha.label }}</label>
            </div> 
          {% endcomment %}
          <div class="my-3"> 
            {{ form.captcha }}
          </div>
          <div class="">
            <a href="{% url 'accounts:login-otp' %}" 
                class="font-semibold text-indigo-600 hover:text-indigo-500">
                  ورود با رمز یک‌بار مصرف
            </a>
          </div>
        </div>
        <div>
          <div class="mt-2">
            {% comment %} 
              <div for="id_captcha" class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">{{ form.captcha.label }}</label>
              </div> 
            {% endcomment %}
            <div class="my-3"> 
              {{ form.captcha }}
            </div>
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">ورود</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}