{% extends 'base/base.html' %}

{% block title %}
    ورود به حساب
{% endblock title %}


{% block content %}
<div class="font-vazir">
  <div>
    <div class="sm:mx-auto">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9">
        نام کاربری و رمز عبور خود را وارد کنید.
      </h2>
    </div>
    
    <div class="mt-10 sm:mx-auto sm:max-w-sm">
      <form method="post">
        {% csrf_token %}
          <!--
            This example requires some changes to your config:
            
            ```
            // tailwind.config.js
            module.exports = {
              // ...
              plugins: [
                // ...
                require('@tailwindcss/forms'),
              ],
            }
            ```
          -->
          <!--
            This example requires updating your template:
          
            ```
            <html class="h-full bg-white">
            <body class="h-full">
            ```
          -->
        <div>
          <label for="username" style="text-align: right;">
            نام کاربری:
          </label>
            <div class="mt-2">
              <input id="username" name="username" type="username" autocomplete="username" 
                style="text-align: center;"      
                required class="w-full rounded-md border-0 py-1.5 ring-1">
            </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between" style="margin-top: 15px;">
            <label for="password">
              رمز عبور:
            </label>
            <div>
              <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">
                رمز عبور خود را فراموش کرده‌اید؟
              </a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password"
                  style="text-align: center;"
                  required class="w-full rounded-md border-0 py-1.5 ring-1">
          </div>
        </div>
        <button type="submit" class="w-full py-1.5 rounded-md
                                      dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
                                      dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"> 
          <div style="margin-top: 25px; cursor: pointer;" >
            ورود
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}