{% extends "base/base.html" %}
{% load static %}
{% block title %}پیام‌ها{% endblock title %}
{% block content %}
<div class="bg-gray-300 pb-96 pt-px font-vazir">
   <h3 class="text-xl font-semibold text-center my-6">
      پیام‌های شما
   </h3>
   <ul class="max-w-md mx-auto">
      {% for notification in notifications %}
      <li class="bg-slate-100 rounded px-4 py-5 sm:p-6" data-notification-id="{{ notification.id }}">
         <div class="flex items-center justify-between px-4 py-3 bg-gray-100">
            <div class="flex items-center space-x-4">
               {% if notification.seen %}
               <button class="mark-as-read-btn text-green-800 hover:text-white bg-green-600 hover:bg-green-200 focus:ring-2 focus:ring-green-500 rounded-full px-3 py-1 text-sm font-medium transition duration-300">
               خوانده شده
               </button>
               {% else %}
               <button class="mark-as-read-btn text-green-500 hover:text-white bg-green-200 hover:bg-green-600 focus:ring-2 focus:ring-green-700 rounded-full px-3 py-1 text-sm font-medium transition duration-300">
               خوانده نشده
               </button>
               {% endif %}
               <button class="delete-btn text-red-700 hover:text-white bg-red-200 hover:bg-red-600 focus:ring-2 focus:ring-red-500 rounded-full px-3 py-1 text-sm font-medium transition duration-300">
               حذف
               </button>
            </div>
            <span class="text-xs text-gray-600">{{ notification.date_created | to_Jdatetime }}</span>
         </div>
         <a href="{{notification.review_link}}" class="block p-4 border-t border-gray-200">
            <h5 class="text-lg font-semibold text-gray-900 mb-2">
               پیغام - سطح {{notification.type}}
            </h5>
            <p class="text-sm text-gray-700">
               {{notification.message}}
            </p>
         </a>
      </li>
      {% endfor %}
   </ul>
</div>
{% endblock content %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'accounts/js/notifications.js' %}"></script>
{% endblock custom_js %}
