{% extends "base/base.html" %}
{% load static %}

{% block title %}پنل کاربری{% endblock title %}



{% block content %}
  <!-- start modal -->
  <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 bottom-0 left-0 z-50 flex justify-center items-center bg-black bg-opacity-50">
    <div class="relative w-full max-w-md mx-auto bg-white rounded-lg shadow-lg">
        <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">آیا میخواهید این آگهی را حذف کنید؟</h3>
            <button id="confirm-delete" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
              بله, حذف کن
            </button>
            <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">نه, دست نگه دار</button>
        </div>
    </div>
  </div>
  <!-- end modal -->

  <!-- Tabs for small screens -->
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select your country</label>
    <select id="tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option>آگهی های مبادله کالا</option>
        <option>آگهی های کاریابی</option>
        <option>آگهی های تبلیغاتی</option>
        <option>Invoice</option>
    </select>
  </div>

  <!-- Content tabs -->
  <div class="hidden sm:block">
    <div class="max-w-7xl mx-auto py-8 px-4">
      <div x-data="{showTab: 'barters',}"
        class="bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg"
      >
        <div class="border-b border-gray-200 dark:border-gray-700">
          <nav id="tabs" class="-mb-px flex" aria-label="Tabs">
            <a href="#" x-on:click="showTab = 'barters'" :class="{ 'border-b-2 border-blue-500': showTab === 'barters' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="page">آگهی‌های مبادله کالا</a>
            <a href="#" x-on:click="showTab = 'jobs'" :class="{ 'border-b-2 border-blue-500': showTab === 'jobs' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">آگهی‌های کاریابی</a>
            <a href="#" x-on:click="showTab = 'ads'" :class="{ 'border-b-2 border-blue-500': showTab === 'ads' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">آگهی‌های تبلیغاتی</a>
            <a href="#" x-on:click="showTab = 'invoice'" :class="{ 'border-b-2 border-blue-500': showTab === 'invoice' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">Invoice</a>
          </nav>
        </div>
        <div>
          <div id="barters" x-show="showTab === 'barters'" class="p-4">
            <!-- Content for barters tab -->
            <div class="mb-8">
              <a href="{% url 'barters:barter-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">ساخت آگهی مبادله کالا</a>
            </div>
            
            {% if barters %}
            
              <ul>
                {% for barter in barters %}
                  <li id="{{ barter.slug }}" class="border-b border-gray-300 py-4">
                    <div class="flex items-center justify-start">
                      <p class="text-lg font-medium">{{ barter.title }}</p>
                      <div>
                        <a href="{{barter.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                        |
                        <a href="{{barter.get_edit_url}}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                        |
                        <button id="delete-barter" class="text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p class="text-lg">شما هیچ آگهی‌ای مبادله کالا ندارید.</p>
            {% endif %}
          </div>
          
          <div id="jobs" x-show="showTab === 'jobs'" class="p-4 ">
            <!-- Content for jobs tab -->
            <div class="mb-8">
              <a href="{% url 'jobs:job-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">ساخت آگهی کاریابی</a>
            </div>

            {% if jobs %}
              <ul>
                {% for job in jobs %}
                  <li class="border-b border-gray-300 py-4">
                    <div class="flex items-center justify-start">
                      <p class="text-lg font-medium">{{ job.title }}</p>
                      <div>
                        <a href="{{job.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                        |
                        <a href="{{job.get_edit_url}}' job_slug=job.slug %}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                        |
                        <button id="delete-job" class="text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p class="text-lg">شما هیچ آگهی کاریابی ندارید.</p>
            {% endif %}
          </div>
          
          <div id="ads" x-show="showTab === 'ads'" class="p-4">
            <!-- Content for ads tab -->
            <div class="mb-8">
              <a href="{% url 'ads:adv-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">ساخت آگهی تبلیغاتی</a>
            </div>
            
            {% if stuff_ads %}
              <ul>
                {% for stuff_adv in stuff_ads %}
                  <li class="border-b border-gray-300 py-4">
                    <div class="flex items-center justify-start">
                      <p class="text-lg font-medium">{{ stuff_adv.title }}</p>
                      <div>
                        <a href="{{stuff_adv.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                        |
                        <a href="{{stuff_adv.get_edit_url}}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                        |
                        <button id="delete-stuff_adv" class="text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p class="text-lg">شما هیچ آگهی تبلیغاتی ندارید.</p>
            {% endif %}
          </div>
          
          <div id="invoice" x-show="showTab === 'invoice'" class="p-4">
            <!-- Content for invoice tab -->
            <p>Invoice content goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block custom_js %}
  <script src="{% static 'accounts/js/user-panel.js' %}"></script>
{% endblock custom_js %}
