{% extends "base/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}پنل کاربری{% endblock title %}



{% block content %}
  <!-- Tabs for small screens -->
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select your country</label>
    <select id="tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option>آگهی‌های مبادله کالا</option>
        <option>آگهی‌های کاریابی</option>
        <option>آگهی‌های تبلیغاتی</option>
        <option>Invoice</option>
    </select>
  </div>

  <!-- Content tabs -->
  <div class="font-vazir dark:bg-gray-300 hidden sm:block pb-[335px]">
    <div class="max-w-7xl mx-auto py-8 px-4">
      <div x-data="{showTab: 'barters',}"
        class="bg-white overflow-hidden shadow sm:rounded-lg">
        <div class="border-b border-gray-200 dark:border-gray-700">
          <nav id="tabs" class="-mb-px flex" aria-label="Tabs">
            <a href="#" x-on:click="showTab = 'barters'" :class="{ 'border-b-2 border-blue-500': showTab === 'barters' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="page">
              آگهی‌های مبادله کالا
            </a>
            <a href="#" x-on:click="showTab = 'jobs'" :class="{ 'border-b-2 border-blue-500': showTab === 'jobs' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">آگهی‌های کاریابی</a>
            <a href="#" x-on:click="showTab = 'ads'" :class="{ 'border-b-2 border-blue-500': showTab === 'ads' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">آگهی‌های تبلیغاتی</a>
            <a href="#" x-on:click="showTab = 'invoice'" :class="{ 'border-b-2 border-blue-500': showTab === 'invoice' }" class="w-1/4 py-4 px-1 text-center font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-700" aria-current="false">سایر</a>
          </nav>
        </div>
        <div>
          <div id="barters" x-show="showTab === 'barters'" class="p-4">
            <!-- Content for barters tab -->
            <div class="mb-8 text-center">
              <a href="{% url 'barters:barter-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">
                ساخت آگهی مبادله کالا
              </a>
            </div>
            
            {% if barters %}
              <ul>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
                  {% for barter in barters %}
                    <li class="border-b border-gray-300 py-4" id="{{barter.slug}}">
                      <div class="dark:bg-gray-300 group-hover:opacity-75 lg:aspect-none w-full shadow rounded-lg overflow-hidden">
                        <img src="{{ barter.images.first.image.url }}" class="object-cover h-40 w-full" alt="">
                        <div class="p-6 flex flex-col flex-1">
                          <h3 class="mt-3 mb-2 font-bold text-lg">
                            {{ barter.title }}
                          </h3>
                          <span>
                            معاوضه با : {{ barter.summary }}
                          </span>
                          <div class="flex gap-4 place-content-center mt-auto pt-4 border-t border-slate-950">
                            <span class="text-sm">
                              منطقه: {{ barter.region }}
                            </span>
                            |
                            <span>
                              دسته‌بندی: {% for category in barter.categories.all %} {{category.title}} - {% endfor %}
                            </span>
                          </div>
                        </div>
                        <div class="mr-11">
                          <a href="{{barter.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                          |
                          <a href="{{barter.get_edit_url}}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                          |
                          <button data-slug="{{barter.slug}}" class="barter-item-delete text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </div>
              </ul>
            {% else %}
              <p class="text-lg text-center">
                شما هیچ آگهی‌ مبادله کالایی ندارید.
              </p>
            {% endif %}
          </div>
          
          <div id="jobs" x-show="showTab === 'jobs'" class="p-4 ">
            <!-- Content for jobs tab -->
            <div class="mb-8 text-center">
              <a href="{% url 'jobs:job-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">
                ساخت آگهی کاریابی
              </a>
            </div>

            {% if jobs %}
              <ul>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
                  {% for job in jobs %}
                    <li class="border-b border-gray-300 py-4" id="{{job.slug}}">
                      <div class="dark:bg-gray-300 group-hover:opacity-75 lg:aspect-none w-full shadow rounded-lg overflow-hidden">
                        <div class="p-6 flex flex-col flex-1">
                          <h3 class="mt-3 mb-2 font-bold text-lg">
                            {{ job.title }} - 
                            {{ job.summary }}
                          </h3>
                          <div class="mt-auto pt-4 border-t border-slate-950">
                            <p class="text-sm">
                              منطقه: {{ job.region }}
                            </p>
                            <p>همکاری: {% for co_type in job.cooperation_types.all %} {{co_type.name}} - {% endfor %}</p>
                          </div>
                        </div>
                        <div class="mr-11">
                          <a href="{{job.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                          |
                          <a href="{{job.get_edit_url}}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                          |
                          <button data-slug="{{job.slug}}" class="job-item-delete text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </div>
              </ul>
            {% else %}
              <p class="text-lg text-center">شما هیچ آگهی کاریابی ندارید.</p>
            {% endif %}
          </div>
          
          <div id="ads" x-show="showTab === 'ads'" class="p-4">
            <!-- Content for ads tab -->
            <div class="mb-8 text-center">
              <a href="{% url 'ads:adv-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300 inline-block">
                ساخت آگهی تبلیغاتی
              </a>
            </div>
            
            {% if stuff_ads %}
              <ul>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
                  {% for stuff_adv in stuff_ads %}
                    <li class="border-b border-gray-300 py-4" id="{{stuff_adv.slug}}">
                      <div class="dark:bg-gray-300 group-hover:opacity-75 lg:aspect-none w-full shadow rounded-lg overflow-hidden">
                        <img src="{{ stuff_adv.images.first.image.url }}" class="object-cover h-40 w-full" alt="">
                        <div class="p-6 flex flex-col flex-1">
                          <h3 class="mt-3 mb-2 font-bold text-lg">
                            {{ stuff_adv.title }} - 
                            {{ stuff_adv.summary }}
                          </h3>
                          <div class="flex gap-4 place-content-center mt-auto pt-4 border-t border-slate-950">
                            <span class="text-sm">
                              وضعیت آگهی: {{ stuff_adv.get_stuff_status }}
                            </span>
                            |
                            <span class="text-sm">
                              {{ stuff_adv.price | intcomma }} تومان
                            </span>
                          </div>
                        </div>
                        <div class="mr-11">
                          <a href="{{stuff_adv.get_absolute_url}}" class="text-blue-500 hover:text-blue-600 mr-2">مشاهده</a>
                          |
                          <a href="{{stuff_adv.get_edit_url}}" class="text-blue-500 hover:text-blue-600">ویرایش</a>
                          |
                          <button  data-slug="{{stuff_adv.slug}}" class="stuff_adv-item-delete text-blue-500 hover:text-blue-600 mx-2">حذف</button>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </div>
              </ul>
            {% else %}
              <p class="text-lg text-center">
                شما هیچ آگهی تبلیغاتی ندارید.
              </p>
            {% endif %}
          </div>
          
          <div id="invoice" x-show="showTab === 'invoice'" class="p-4">
            <!-- Content for invoice tab -->
            <p>به زودی...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block custom_js %}
  <script src="{% static 'accounts/js/user-panel.js' %}"></script>
{% endblock custom_js %}
