{% extends 'base/base.html' %}

{% block title %}دیجی خدمت | کارجویان{% endblock title %}


{% block content %}
  <div x-data="{ activeTab: 'files' }" class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
    <h3 class="text-xl font-bold">رزومه های ارسالی</h3>

    <ul class="flex">
      <li class="mr-4">
        <a href="#" @click.prevent="activeTab = 'files'" :class="{ 'text-blue-700 border-b-2 border-blue-900' : activeTab === 'files' }" class="text-gray-600 hover:text-blue-500 transition duration-300">فایل های ارسالی</a>
      </li>
      <li class="mr-4">
        <a href="#" @click.prevent="activeTab = 'forms'" :class="{ 'text-blue-700 border-b-2 border-blue-900' : activeTab === 'forms' }" class="text-gray-600 hover:text-blue-500 transition duration-300">فرم های ارسالی</a>
      </li>
    </ul>

    <div x-show="activeTab === 'files'">
      <h4 class="text-lg font-semibold mt-4">فایل های ارسالی</h4>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for resume in resume_files %}
          <div class="bg-gray-100 p-4 rounded-lg">
            <p class="mb-2">فرستنده <a href="{{resume.user.get_user_profile}}" class="text-blue-500 hover:underline">{{resume.user.username}}</a></p>
            <p class="mb-2">آگهی <a href="{{resume.advertisement.get_absolute_url}}" class="text-blue-500 hover:underline">{{resume.advertisement.title}}</a></p>
            <p><a href="{{resume.get_absolute_url}}" class="text-blue-500 hover:underline">مشاهده</a></p>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <div x-show="activeTab === 'forms'">
      <h4 class="text-lg font-semibold mt-4">فرم های ارسالی</h4>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for resume in resumes %}
          <div class="bg-gray-100 p-4 rounded-lg">
            <p class="mb-2">فرستنده <a href="{{resume.user.get_user_profile}}" class="text-blue-500 hover:underline">{{resume.user.username}}</a></p>
            <p class="mb-2">آگهی <a href="{{resume.advertisement.get_absolute_url}}" class="text-blue-500 hover:underline">{{resume.advertisement.title}}</a></p>
            <p><a href="{{resume.get_absolute_url}}" class="text-blue-500 hover:underline">مشاهده</a></p>
          </div>
        {% endfor %}
      </div>
    </div>
    
{% endblock content %}  


{% block custom_js %}{% endblock custom_js %}
