{% extends 'base/base.html' %}

{% block title %}دیجی خدمت | رزومه{% endblock title %}

{% block content %}

  <div style="margin-left: 500px; margin-right: 500px" class="font-vazir text-center place-items-center mt-12 bg-white p-4 rounded-lg shadow-lg">
    <h3 class="text-xl font-bold mb-4">فرستنده:
      <a href="{{ resume.user.get_user_profile }}" class="text-blue-500 hover:underline">{{ resume.user.username }}</a>
    </h3>
    <h3 class="text-xl font-bold mt-4 mb-4">آگهی‌:
      <a href="{{ resume.advertisement.get_absolute_url }}" class="text-blue-500 hover:underline">{{ resume.advertisement.title }}</a>
    </h3>
    <div class="mt-8">
      <div class="mb-4">
        <span class="font-semibold">نام:</span>
        {{ resume.fname }} {{ resume.lname }}
      </div>

      <div class="mb-4">
        <span class="font-semibold">توضیحات:</span>
        {{ resume.description | safe }}
      </div>

      <div class="mb-4">
        <span class="font-semibold">فایل:</span>
        <a href="{{ resume.get_pdf_url }}" class="text-blue-500 hover:underline">دانلود</a>
      </div>
    </div>
  </div>
    
{% endblock content %}

{% block custom_js %}{% endblock custom_js %}
