html {
  min-height: 100%;
  position: relative;
}

body {
  direction: rtl;
  margin: 0;
  padding-bottom: 60px; /* Height of the footer */
  box-sizing: border-box;
}

body.sidebar-open {
  margin-left: 240px; /* Adjust the width based on your sidebar width */
  transition: margin-left 0.3s ease; /* Add a smooth transition effect */
}

#sidebar {
  width: 240px; /* Adjust the width based on your sidebar width */
  transition: margin-left 0.3s ease; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
