body {
    direction: rtl;
}

/* -------------------------------------------- */

.navbar-nav { 
    flex-direction: row;
}

/* -------------------------------------------- */

.navbar-left > li {
    margin: 1.25rem;
}

/* -------------------------------------------- */

#main-nav > li {
    margin: 1.25rem;
}