{% extends 'base/base.html' %}
{% load static %}

{% block title %}ساخت آگهی | تهاتر کالا{% endblock title %}

{% block content %}
  <div class="container mx-auto mt-8">
    <div class="bg-white p-8 rounded-md shadow-md">
      <h2 class="text-3xl font-bold mb-4">{{ barter.title }}</h2>
      <h3 class="text-2xl font-semibold text-gray-700 mb-4">
        ارتباط با <a href="{{barter.owner.get_user_profile}}" class="text-blue-600 hover:underline">{{ barter.owner.username }}</a>
      </h3>

      <!-- Barter Images Grid -->
      <div class="grid grid-cols-4 gap-4 mt-8">
        {% for image_obj in barter.images.all %}
          <div class="relative">
            <img src="{{ image_obj.image.url }}" alt="image-{{ image_obj.id }}" class="cursor-pointer barter-image h-80 w-80">
          </div>
        {% endfor %}
      </div>

      <button id="toggle-favorite-btn" class="text-white p-4 py-2 rounded-md shadow-md transition duration-300 mt-4">
        {% if favorite %}
          <img src="{% static 'global/icons/insta-save.png' %}" alt="" class="w-5 h-5 favorite-icon">
        {% else %}
          <img src="{% static 'global/icons/insta-unsave.png' %}" alt="" class="w-5 h-5 favorite-icon">
        {% endif %}
      </button>
      
      <div class="my-4">
        <strong class="text-lg text-gray-800">خلاصه:</strong>
        <p class="text-base text-gray-600 mt-2">{{ barter.summary }}</p>
      </div>
      
      <div class="my-4">
        <strong class="text-lg text-gray-800">تاریخ انتشار:</strong>
        <p class="text-base text-gray-600 mt-2">{{ barter.date_published | to_Jdate }}</p>
      </div>
      
      <div class="my-4">
        <strong class="text-lg text-gray-800">توضیحات:</strong>
        <p class="text-base text-gray-600 mt-2">{{ barter.description | safe }}</p>
      </div>
      
      <div class="my-4">
        <strong class="text-lg text-gray-800">منطقه:</strong>
        <a href="{% url 'barters:barter-list' %}?search-area={{barter.region.state}}" class="mr-2 cursor-pointer underline text-blue-600">{{ barter.region.state }}</a>,
        <a href="{% url 'barters:barter-list' %}?search-area={{barter.region.city}}" class="mr-2 cursor-pointer underline text-blue-600">{{ barter.region.city }}</a>
      </div>

      <div class="my-4">
        <strong class="text-lg text-gray-800">آدرس:</strong>
        <p class="text-base text-gray-600 mt-2">{{ barter.address }}</p>
      </div>

      <div class="my-4">
        <strong class="text-lg text-gray-800">دسته بندی‌ها:</strong>
        {% for category in barter.categories.all %}
          <a href="{% url 'barters:barter-list' %}?search-area={{category.title}}" class="mx-2 cursor-pointer underline text-blue-600">{{ category.title }}</a>
        {% endfor %}
      </div>
      
      <div class="my-4">
        <strong class="text-lg text-gray-800">برچسب‌ها:</strong>
        {% for tag in barter.tags.all %}
          <a href="{% url 'barters:barter-list' %}?search-area={{tag.name}}" class="mx-2 cursor-pointer underline text-blue-600">{{ tag.name }}</a>
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- Modal for displaying image in full size -->
  <div id="imageModal" class="hidden fixed inset-0 z-50 overflow-auto bg-black bg-opacity-80 flex justify-center items-center">
    <div class="max-w-4xl mx-auto">
      <button id="closeModal" class="absolute top-4 right-4 text-white font-extrabold">&times;</button>
      <img id="fullSizeImage" class="max-w-full max-h-full" src="" alt="Full size image">
    </div>
  </div>
{% endblock content %}

{% block custom_js %}
  <script type="text/javascript">
    const save_img = "{% static 'global/icons/insta-save.png' %}";
    const unsave_img = "{% static 'global/icons/insta-unsave.png' %}";
    const advertisementId = "{{ barter.id }}";
    const advertisementType = "BarterAdvertising";
    const csrftoken = getCookie('csrftoken');
    let isFavorite = {% if favorite %}true{% else %}false{% endif %};
    let favoriteId = {% if favorite %} {{favorite.id}} {% else %}null{% endif %};
  </script>

  <script src="{% static 'barters/js/barter-detail.js' %}"></script>
{% endblock custom_js %}
