{% extends "base/base.html" %}


{% block content %}
  
    <section class="dark:bg-gray-300 font-vazir">
        <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 max-w-6xl mx-auto lg:py-6">
            <div class="lg:flex flex flex-col">
                <div class="flex flex-col px-4 lg:w-1/2">
                    <img src="https://i.postimg.cc/9MW8G96J/pexels-the-coach-space-2977565.jpg" alt=""
                        class="relative z-40 object-cover w-full h-full rounded">
                </div>
                <div class="flex flex-col lg:w-1/2">
                    <div>
                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <span class="text-sm">
                                ما کی هستیم؟
                            </span>
                            <h1 class="mt-2 font-black md:text-5xl dark:text-gray-800">
                                درباره ما
                            </h1>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            دیجی خدمت، یک تیم پویا و متعهد است که با هدف ارائه خدمات عمومی متنوع و کارآمد به افراد حقیقی تشکیل شده است. اعضای تیم ما از افراد با تجربه و متخصص در زمینه‌های مختلف تشکیل شده‌اند که با تلاش مشترک به ارتقاء سامانه دیجی خدمت می‌پردازند.
                            <br>
                            هدف اصلی ما در دیجی خدمت، تسهیل و ساده‌سازی فرآیند انجام کارهای روزمره افراد است. از جمله اهداف ما می‌توان به ایجاد ارتباطات مفید و موثر بین افراد، ارائه خدمات با کیفیت و متنوع، و افزایش رضایت مشتریان اشاره کرد.
                            <br>
                            در دیجی خدمت، ارزش‌هایی همچون شفافیت، اعتماد، کارآیی، و کیفیت در ارائه خدمات به شما اهمیت زیادی داده می‌شود. ما با رعایت این ارزش‌ها در تمامی فعالیت‌هایمان، سعی در ایجاد یک محیط مطمئن و مطابق با انتظارات شما داریم.
                            <br>
                            با انتخاب دیجی خدمت، شما از تیمی متخصص و متعهد به خدمت رضایت خواهید برد. ما به ارائه خدمات با کیفیت و ایجاد تجربه مثبت برای شما اولویت می‌دهیم و همواره در تلاش هستیم تا نیازها و انتظارات شما را بیشتر از هر زمان دیگری برآورده کنیم.
                        </p>
                        <div class="flex items-center">
                            <div class="px-4 md:w-1/2 lg:mb-6">
                                <div class="p-6 bg-yellow-500 rounded-md">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-10 h-10"
                                            fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                    </span>
                                    <h2>
                                        پروژه و برنامه‌ها
                                    </h2>
                                    <p class="mt-4 mb-2 text-3xl">
                                        ۲۷
                                    </p>
                                </div>
                            </div>
                            <div class="px-4 md:w-1/2 lg:mb-6">
                                <div class="p-6 bg-yellow-500">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-10 h-10"
                                            fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd"
                                                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                        </svg>
                                    </span>
                                    <h2>
                                        اعضای تیم
                                    </h2>
                                    <p class="mt-4 mb-2 text-3xl">
                                        ۲
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

{% endblock content %}
