{% extends "base/base.html" %}


{% block content %}
    <section class="dark:bg-gray-300 font-vazir">
        <div class="max-w-6xl mx-auto lg:py-6">
            <div class="flex">
                <div>
                    <div>
                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h1 class="mt-2 font-black md:text-5xl dark:text-gray-800">
                                اعتبارنامه‌ها
                            </h1>
                        </div>
                        
                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                گواهی‌نامه‌ها
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            گواهینامه ایزو ۹۰۰۱: این گواهینامه نشان دهنده استانداردهای بین‌المللی کیفیت در فرآیندهای ما است.
                            <br>
                            گواهینامه امنیت اطلاعاتی: ما از گواهینامه‌های مختلف امنیت اطلاعاتی برخورداریم که نشان دهنده توجه ما به حفاظت اطلاعات مشتریان است.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                تأییدیه‌ها
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            تأییدیه از سازمان حمایت از مصرف‌کننده: ما تأییدیه‌های مختلفی از سازمان‌های مختلف دریافت کرده‌ایم که نشان از رضایت و اعتماد مشتریان به خدمات ما است.
                            <br>
                            تأییدیه از سازمان حقوقی: تأییدیه‌های حقوقی از سازمان‌های معتبر نشان از صحت و مطابقت فعالیت‌های ما با قوانین و مقررات است.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                افتخارات
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            برنده جایزه بهترین خدمات مشتریان: ما به عنوان برنده جوایز مختلفی در زمینه بهترین خدمات مشتریان افتخار می‌کنیم.
                            <br>
                            برنده جایزه نوآوری و فناوری: افتخارات مختلفی در زمینه نوآوری و فناوری را برای خدمات و محصولات ما کسب کرده‌ایم.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                نظرات مشتریان
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            نظرات مثبت مشتریان: ما از نظرات و بازخوردهای مثبت مشتریان به عنوان یکی از اعتبارات خود استفاده می‌کنیم.
                            <br>
                            نظرات برجسته از مشتریان معتبر: نظرات و اعترافات مشتریان معتبر و شناخته شده در رابطه با خدمات و محصولات ما.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                تماس با ما
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            برای دریافت اطلاعات بیشتر درباره اعتبارنامه‌ها و تأییدیه‌های ما، با تیم پشتیبانی ما تماس بگیرید.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
