{% extends "base/base.html" %}
{% load static %}


{% block content %}
<div class="mt-10 font-vazir dark:bg-gray-300">
    <div class="py-20 dark:bg-gray-300" style="background-color: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"></div>
        <div class="container mx-auto" style="margin-top: -163px;" >
            <h2 style="font-size: 35px; padding-top: 15px;" class="px-6 font-bold mb-2 text-black dark:bg-gray-300">
                خوش آمدید به دنیای دیجی‌خدمت
            </h2>
            <h3 class="text-s mb-8 px-6 dark:bg-gray-300">
                 دیجی خدمت به عنوان یک سامانه جامع، مامور ارائه خدمات متنوع و اساسی به افراد حقیقی می‌باشد. ما اینجا هستیم تا به شما کمک کنیم تا نیازهای خود را بهتر و سریعتر برآورده کنید.
                <br>
                با استفاده از دیجی خدمت، شما می‌توانید به سادگی و به طریقی مطمئن، کالاهای خود را مبادله کنید، به دنبال فرصت‌های شغلی جدید بگردید، و حتی کسب و کار خود را با ایجاد تبلیغات موثر توسعه دهید.
            </h3>
        </div>
    </div>

    <section class="dark:bg-gray-300 font-vazir">
        <div class="max-w-6xl mx-auto">
            <div class="flex">
                <div>
                    <img src="{% static 'global/images/exchangeGoods.jpg' %}" alt="">
                </div>
                <div class="lg:w-1/2">
                    <div class="border-r-4 border-blue-500">
                        <h1 class="mt-32 font-black md:text-5xl dark:text-gray-800">
                            تسهیل مبادله کالاها در دیجی‌خدمت
                        </h1>
                    </div>
                    <p class="mt-4 px-4 mb-10 leading-7">
                        در دیجی خدمت، توانایی مبادله کالاها با دیگران را دارید. می‌توانید کالاهایی که دیگر نیاز ندارید را به دیگران بفروشید یا کالاهایی که می‌خواهید را از آن‌ها بخرید. این امکان به شما کمک می‌کند تا به صورت اقتصادی‌تر و موثرتر از منابع خود استفاده کنید.
                    </p>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto">
            <div class="flex">
                <div class="lg:w-1/2">
                    <div class="border-r-4 border-blue-500">
                        <h1 class="mt-6 font-black md:text-5xl dark:text-gray-800">
                            فرصت‌های شغلی در دیجی‌خدمت                        
                        </h1>
                    </div>
                    <p class="mt-4 px-4 mb-10 leading-7">
                        دیجی‌خدمت جایی که تمرکز ما بر روی ارائه خدمات با کیفیت و متنوع به شماست. ما به عنوان یک پل ارتباطی بین افراد متخصص و جامعه هستیم. در دیجی‌خدمت می‌توانید به دنبال فرصت‌های شغلی جدید بگردید یا نیازهای کاری خود را برای دیگران ارائه کنید. با قرار دادن آگهی‌های کاریابی یا خدماتی، ارتباط خود را با افراد متخصص و کارآمد بیشتر کنید.
                        <br>
                        در دیجی خدمت، با یک کلیک ساده می‌توانید به جامعه‌ای از افراد متخصص و فعال متصل شوید و از تجربیات آن‌ها بهره‌مند شوید.
                    </p>
                </div>
                <div>
                    <img src="{% static 'global/images/careerOpportunities.jpg' %}" alt="">
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto">
            <div class="flex">
                <div>
                    <img src="{% static 'global/images/businessDevelopment.jpg' %}" alt="">
                </div>
                <div class="lg:w-1/2">
                    <div class="border-r-4 border-blue-500">
                        <h1 class="mt-8 font-black md:text-5xl dark:text-gray-800">
                            توسعه کسب و کار با تبلیغات در دیجی خدمت
                        </h1>
                    </div>
                    <p class="mt-4 px-4 mb-10 leading-7">
                        با ایجاد تبلیغات برای کسب و کار خود نیز، می‌توانید به رشد و توسعه کسب و کار خود کمک کنید. در دیجی خدمت، امکان ایجاد تبلیغاتی جذاب و موثر را دارید که به شما کمک می‌کند بازدیدکنندگان بیشتری را به سمت کسب و کار خود جلب کنید.
                        <br>
                        به تلاش ما اعتماد کنید تا به بهترین شکل ممکن، نیازهایتان را برآورده کنیم و به شما راحتی و اطمینان بیشتری در انجام کارهای روزانه بدهیم.
                    </p>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto">
            <div class="flex">
                <div class="lg:w-1/2">
                    <div class="border-r-4 border-blue-500">
                        <h1 class="mt-6 font-black md:text-5xl dark:text-gray-800">
                            تضمین کیفیت و ارزش در دیجی خدمت
                        </h1>
                    </div>
                    <p class="mt-4 px-4 mb-10 leading-7">
                        اعتماد و رضایت شما اولین اولویت ماست. به همین دلیل، تمام تلاش‌هایمان را می‌کنیم تا خدمات ما بی نظیر و ارزشمند برای شما باشد. در دیجی خدمت، ما به خوبی می‌دانیم که زمان بسیار ارزشمندی است و بهترین سعی خود را می‌کنیم تا زمان شما را صرف کارهای مفید و موثر کنیم.
                        <br>
                        با ایجاد یک سیستم ارتباطی با کارفرماهای دیجی‌خدمت، می‌توانید به طور مستقیم و راحت‌تر با دیگران ارتباط برقرار کنید و بهترین کیفیت و ارزش را به‌دست آورید. 
                        <br>
                        تضمین ما، ارائه خدمات با کیفیت و متنوع به شماست. هدف ما این است که شما به سادگی و با اطمینان بیشتر، از خدمات ما استفاده کنید و به بهترین شکل ممکن از آن‌ها بهره‌مند شوید. ه تلاش ما اعتماد کنید تا به بهترین شکل ممکن، نیازهایتان را برآورده کنیم و به شما راحتی و اطمینان بیشتری در انجام کارهای روزانه بدهیم.
                    </p>
                </div>
                <div class="mb-6">
                    <img src="{% static 'global/images/guaranteedQuality.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
