{% extends "base/base.html" %}


{% block content %}
      <section class="dark:bg-gray-300 font-vazir">
        <div class="max-w-6xl mx-auto lg:py-6">
            <div class="flex">
                <div>
                    <div>
                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h1 class="mt-2 font-black md:text-5xl dark:text-gray-800">
                                قوانین و سیاست‌ها
                            </h1>
                        </div>
                        
                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                حفاظت از حریم خصوصی
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            ما در دیجی خدمت به حفظ حریم خصوصی کاربران اهمیت زیادی می‌دهیم. اطلاعات شخصی شما توسط سامانه ما به دقت محافظت می‌شود و هیچگونه اطلاعاتی به اشخاص یا سازمان‌های دیگر ارسال نخواهد شد.    
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                استفاده از اطلاعات
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            هدف از جمع‌آوری اطلاعات شخصی، تسهیل در ارائه خدمات بهتر و بهبود تجربه کاربری است. ما هیچگونه اطلاعات شخصی را با شخص ثالثی به اشتراک نمی‌گذاریم مگر اینکه با موافقت کاربر یا بر اساس قوانین مربوطه اقدام شود.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                شرایط و ضوابط استفاده
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            استفاده از سامانه دیجی خدمت منوط به پذیرش و رعایت شرایط و ضوابط مربوطه است. با ورود به این سامانه، شما به تمامی قوانین و مقررات ما متعهد می‌شوید و موظف به رعایت آن‌ها هستید.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                حقوق مالکیت معنوی
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            تمامی محتواهای موجود در سامانه دیجی خدمت تحت حفاظت قوانین حقوق مالکیت معنوی قرار دارند. هرگونه استفاده غیرمجاز از محتواهای سایت برای مقاصد تجاری یا غیرتجاری ممنوع بوده و پیگرد قانونی دارد.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                تغییرات در سیاست‌ها
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            ما ممکن است با گذشت زمان، سیاست‌ها و قوانین خود را تغییر دهیم. هرگونه تغییر در سیاست‌ها و قوانین به روز رسانی شده در این صفحه منتشر خواهد شد و کاربران باید آن‌ها را مرور و موافقت مجدد کنند.
                        </p>

                        <div class="pr-4 pl-4 border-r-4 border-blue-500">
                            <h3 class="mt-2 font-black md:text-2xl dark:text-gray-900">
                                تماس با ما
                            </h3>
                        </div>
                        <p class="px-4 mb-10 leading-7">
                            در صورت داشتن هرگونه سوال یا ابهام درباره قوانین و سیاست‌های ما، با ما تماس بگیرید. تیم پشتیبانی ما همیشه آماده‌ی پاسخگویی به سوالات شماست.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
