{% extends "base/base.html" %}
{% load static %}

{% block title %}دیجی خدمت{% endblock title %}

{% block content %}
  <div id="messages" class="flex flex-col items-center justify-center w-screen min-h-[80vh] bg-gray-100 text-gray-800 p-10">
    
    <div class="flex items-center space-x-2  w-full max-w-xl bg-gray-900">
      <img src="{% if receiver.profile_photo %} {{receiver.profile_photo.url}} {% else %} {% static 'global/icons/add-profile-image.png' %} {% endif %}" class="h-10 w-10 rounded-full bg-white" alt="{{ receiver.username }}">
      <div class="text-xl font-bold text-white">
          <div>{{ receiver.username }}</div>
          <a href="{{receiver.get_user_profile}}" class="text-sm text-gray-500 dark:text-gray-400">مشاهده مشخصات</a>
      </div>
    </div>

    
    <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden">
      <div id="message-list" class="flex flex-col flex-grow h-0 p-4 overflow-auto">
        {% for message in room_messages %}
          {% if request.user == message.from_user %}
            <div class="flex w-full mt-2 space-x-3 max-w-xs">
              <div class="flex-shrink-0 h-10 w-10 rounded-full">
                <img src="{% if sender.profile_photo %} {{sender.profile_photo.url}} {% else %} {% static 'global/icons/add-profile-image.png' %} {% endif %}" class="flex-shrink-0 h-10 w-10 rounded-full" alt="O">
              </div>
              <div>
                <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                  <p class="text-sm">{{ message.content }}</p>
                </div>
                <span class="text-xs text-gray-500 leading-none">{{ message.created_at | to_Jdatetime }}</span>
              </div>
            </div>
          {% else %}
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
              <div>
                <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                  <p class="text-sm">{{ message.content }}</p>
                </div>
                <span class="text-xs text-gray-500 leading-none">{{ message.created_at | to_Jdatetime }}</span>
              </div>
              <div class="flex-shrink-0 h-10 w-10 rounded-full">
                <img src="{% if receiver.profile_photo %} {{receiver.profile_photo.url}} {% else %} {% static 'global/icons/add-profile-image.png' %} {% endif %}" class="flex-shrink-0 h-10 w-10 rounded-full" alt="O">
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      
      <form action="" id="message-form" class="flex items-center">
        {% csrf_token %}
        <input type="text" name="message" placeholder="پیام خود را وارد کنید..." class="flex-1 border p-2 mr-2">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">ارسال</button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block custom_js %}
  <!-- script for defining and using django variables in js file -->
  <script>
    const roomName = '{{ room_name }}';
    const senderUsername = '{{sender.username}}';
    const senderProfilePhoto = "{% if sender.profile_photo %} {{sender.profile_photo.url}} {% else %} {% static 'global/icons/add-profile-image.png' %} {% endif %}";
    const receiverUsername = '{{receiver.username}}';
    const receiverProfilePhoto = "{% if receiver.profile_photo %} {{receiver.profile_photo.url}} {% else %} {% static 'global/icons/add-profile-image.png' %} {% endif %}";
    const currentUser = '{{request.user.id}}';
  </script>
  
  <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock custom_js %}
