{% extends "base/base.html" %}
{% load static %}

{% block title %}دیجی‌خدمت{% endblock title %}

{% block custom_assets %}

{% endblock custom_assets %}

{% block content %}
<!-- component -->
<div class="flex h-screen antialiased text-gray-800 font-vazir dark:bg-gray-300">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col flex-auto h-full p-6">
        <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
          <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
					{% for message in room_messages %}
						{% if request.user == message.from_user %}
							<div class="col-start-1 col-end-8 p-3 rounded-lg">
								<div class="flex flex-row items-center">
									<div style="font-size: 10px" class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">
										<img src="{% static 'global/icons/add-profile-image.png' %}">
									</div>
									<div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
										<div>{{ message.content }}</div>
									</div>
									<span class="text-xs text-gray-500 leading-none">{{ message.created_at | to_Jdatetime }}</span>
								</div>
							</div>
						{% else %}
							<div class="col-start-6 col-end-13 p-3 rounded-lg">
								<div class="flex items-center justify-start flex-row-reverse">
									<div style="font-size: 10px" class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">
										<img src="{% static 'global/icons/add-profile-image.png' %}">
									</div>
									<div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
										<div>{{ message.content }}</div>
									</div>
									<span class="text-xs text-gray-500 leading-none">{{ message.created_at | to_Jdatetime }}</span>
								</div>
							</div>
						{% endif %}
					{% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input
                  type="text"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                />
              </div>
            </div>
            <div class="ml-4">
              <button class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                <span>ارسال</span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
