{% extends "base/base.html" %} 
{% load static %} 
{% load chat_tags %} 

{% block title %}پیام ها{% endblock title %} 

{% block content %}
<h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">
  پیام های شما
</h3>

<ul class="max-w-md space-y-4">
  {% for room in rooms %} {% get_other_user request.user room as other_user %}
  <li
    id="room-{{ room.name }}"
    class="bg-white shadow-md rounded-md overflow-hidden"
  >
    <div x-data="{ isOpen: false, action: '' }">
      <!-- Button to toggle menu -->
      <button
        @click="isOpen = !isOpen"
        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 3"
        >
          <path
            d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
          />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
        x-show="isOpen"
        @click.away="isOpen = false"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownMenuIconHorizontalButton"
        >
          <li>
            <button
              @click="action = 'delete'"
              class="delete-room px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
              data-room-name="{{ room.name }}"
            >
              حذف
            </button>
          </li>
          <li>
            <button
              @click="action = 'report'"
              class="report-room px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              data-room-name="{{ room.name }}"
            >
              گزارش
            </button>
          </li>
        </ul>
      </div>
    </div>

    <a
      href="{{ room.get_room_url }}"
      class="block hover:bg-gray-100 dark:hover:bg-gray-800 transition duration-300"
    >
      <div class="flex items-center p-4">
        <img
          src="{% if other_user.profile_photo %} {{ other_user.profile_photo.url }} {% else %} {% static 'global/icons/user.png' %} {% endif %}"
          class="w-12 h-12 rounded-full"
          alt="Other user"
        />
        <div class="ml-4">
          <p class="text-lg font-semibold text-gray-900 dark:text-white">
            {{ other_user.username }}
          </p>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {% if room.messages.count %}
            <span class="block">{{ room.messages.last.content }}</span>
            <span class="text-gray-400"
              >{{ room.messages.last.created_at | to_Jdatetime }}</span
            >
            {% else %}
            <span class="text-gray-400">-</span>
            {% endif %}
          </p>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

<!-- start modal for taking report -->
<div id="reportModal" class="fixed inset-0 z-10 overflow-y-auto hidden">
  <div class="flex items-center justify-center min-h-screen">
    <div class="fixed inset-0 bg-black opacity-50"></div>
    <div class="relative bg-white rounded-lg max-w-lg p-6">
      <div class="flex justify-between items-center mb-4">
        <h5 class="text-lg font-semibold">گزارش گفتگو</h5>
        <button
          type="button"
          id="modal-close"
          class="text-gray-500 hover:text-gray-700 focus:outline-none"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <div class="mb-4">
        <input type="hidden" id="reportRoomName" />
        <label
          for="reportMessage"
          class="block text-sm font-medium text-gray-700"
          >پیام گزارش:</label
        >
        <textarea
          id="reportMessage"
          rows="3"
          required
          maxlength="400"
          minlength="1"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        ></textarea>
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          id="submit-btn"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
        >
          ارسال گزارش
        </button>
        <button
          type="button"
          id="cancel-btn"
          class="ml-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300"
        >
          لغو
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end modal for taking report -->

{% endblock content %} 

{% block custom_js %}
  <script src="{% static 'chat/js/room-list.js' %}"></script>
{% endblock custom_js %}
